.container {
  width: 100%;
  height: 100vh;
  /* Use dvh for better mobile resizing handling */
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: #000;

  /* Hide scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}